/* HEADING FONT */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
/* TEXT FONT */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/*-- TODAS LAS PÁGINAS --*/

:root {
    --molten-lava: #780000ff;
    --brick-red: #c1121fff;
    --papaya-whip: #fdf0d5ff;
    --deep-space-blue: #003049ff;
    --steel-blue: #669bbcff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    width: 100%;
    background-color: #fdf0d5ff;
    font-family: "Sora", sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    background: black;
}

/*-- INDEX HTML --*/

/* NAVIGATION BAR / HEADER */
.header {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: rgb(251, 231, 191);
}

.header p, .header div, .header ul {
    display: inline;
}

.header .index {
    margin-right: 50%;
    font-size:14px;
    font-style: italic;
}

.header .menu-container .menu-list {
    margin-top: 20px;
}

.header .menu-container .menu-list li{
    display: inline;
    width: fit-content;
}

.header .menu-container .menu-list li a {
    display: inline-block;
    width: fit-content;
    padding: 15px 25px;
    border-bottom: 0px solid black;
}

.header .menu-container .menu-list a::after {
    transition: all ease-in-out 0.5s;
    background: #003049ff;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}

.header .menu-container .menu-list a:hover::after {
    width: 100%;
}

.hero-section {
    width: 100%;
    margin: 50px 0;
}

.hero-section h1{
    font-family: "Manrope", sans-serif;
}

.main-container {
    width: 100%;
}

.main-container .container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin-bottom: 35px;
    padding: 20px;
    background: rgb(251, 231, 191);
    transition: 0.7s;
}

.main-container .container h2 {
    margin-bottom: 20px;
}

/* About container */
.main-container .about-content {
    width: 90%;
    padding-left: 20px;
}

.main-container .about-content, .main-container .about-content *{
    text-align: left;
}

/* Music container */
.main-container .music-content {
    width: 90%;
    margin: 0 auto;
}

.main-container .music-content .artist-content, .main-container .music-content .general-content {
    width: 49%;
    vertical-align: middle;
    display: inline-block;
}

.main-container .music-content .artist-content img {
    cursor: pointer;
    transform-origin: bottom right;
    max-width: 100%;
    max-height: auto;
    margin-top: 20px;
    border-radius: 15px;
    filter: drop-shadow(0px 0px 0px #c1121fff);
    transition: 0.5s;
}

.main-container .music-content .artist-content img:hover {
    transform:
        scale(1.03)
        translate(-10px, -10px);
    filter: drop-shadow(10px 10px 1px #c1121fff);
}

.main-container .music-content .general-content {
    margin-top: 30px;
}

.main-container .music-content .general-content blockquote {
    text-align: justify;
    font-style: italic;
    margin-left: 10px;
    padding: 10px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.main-container .music-content .general-content .links-container {
    margin: 0px 0 0 10px;
}

.links-container a {
    display: block;
    width: fit-content;
    margin-top: 80px;
    text-align: left;
    font-weight: 500;
}

.links-container a::after {
    transition: all ease-in-out 0.5s;
    background: #780000ff;
    content: "";
    display: block;
    height: 3px;
    width: 0;
}

.links-container a:hover::after {
    width:100%;
}

.links-container a:last-child {
    margin-bottom: 0px;
    margin-top: 0px;
}

/* Favorite container*/
.main-container .favorite .favorite-contents {
    text-align: center
}

.main-container .favorite .favorite-contents table {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 15px;
}

.main-container .favorite .favorite-contents table img {
    max-width: 80px;
    max-height: auto;
    border-radius: 15px;
    transition: 0.2s;
}

.main-container .favorite .favorite-contents table img:hover {
    transform: scale(1.2)
}

.main-container .favorite .favorite-contents table th {
    border-bottom: 1px solid black;
}

.main-container .favorite .favorite-contents table td {
    max-width: 100px;
}

.main-container .favorite .favorite-contents table td p {
    font-size: 14px;
    text-align: left;
}

/* Trivia container */
.main-container .trivia .trivia-content img {
    margin: 15px 0;
    max-width: 250px;
    max-height: auto;
    transition: 0.7s;
}

.main-container .trivia .trivia-content img:hover {
    transform:
        scale(1.1)
        rotate(360deg)
}

.main-container .trivia .trivia-content img::after {
    transition: all ease-in-out 0.5s;
    background: #003049ff;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}

.main-container .trivia .trivia-content img:hover::after {
    width: 100%;
}

.main-container .trivia .trivia-content .links-container{
    text-align: center;
}

.main-container .trivia .trivia-content .links-container a {
    margin: 0 auto;
}


/*-- TRIVIA HTML --*/
.trivia-container {
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.btn-container {
    margin-top:30px;
}

.btn-container a {
    padding: 20px 30px;
    border: 2px solid #e8e8ff;
    font-weight: 800;
    color: #f5c518;
}

.trivia-options {
    margin-top: 50px;
}

.trivia-options .trivia-option {
    display: inline-block;
}

.trivia-options .trivia-option img{
    margin-top: 10px;
    width: 400px;
    height: auto;
    border-radius: 10px;
    filter: drop-shadow(0 0 8px rgba(150, 150, 150, 0));
    transition: 0.6s;
}

.trivia-options .trivia-option img:hover{
    filter: drop-shadow(0 0 8px rgba(150, 150, 150, 0.6))
}

/*-- PLAYLIST index.html --*/
.container {
    width: 100%;
}

.container aside, .container .main {
    display: inline-block;
    height: 100vh;
    vertical-align: top;
    list-style-type: none;
    text-align: center;
}

.container aside {
    width: 31%;
    text-align: left;
    background: rgb(251, 231, 191);
}

.container aside ul li {
    list-style-type: none;
    background: rgb(251, 231, 191);
    font-weight: 700;
    transition: 0.6s;
}

.container aside ul li:hover {
    filter: brightness(0.9);
}

.container aside ul li a {
    display: inline-block;
    width: 100%;
    color: rgb(36, 36, 36);
}

.container .main {
    margin-left: -4px;
    width: 69%;
}

/*-- PLAYLIST index.html --*/
.artist-container {
    background: rgb(22, 22, 22);
}

.artists-container .favorite-artist-container {
    background: #003049ff;
    color: white;
}

.artists-container .favorite-artist-container table {
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.artists-container .favorite-artist-container table tbody {
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.artists-container .favorite-artist-container article:nth-child(3) {
    margin: 0 0;
}

.artists-container .favorite-artist-container table img{
    max-width: 100px;
    max-height: auto;
}

.album, .song{
    border-radius: 5px;
}

.artists-container .favorite-artist-container article .album-content {
    display: inline-block;
}

.artists-container .favorite-artist-container article .album-content ul, .artists-container .favorite-artist-container article .album-content p{
    font-size: 12px;
    text-align: left;
}

.artists-container .favorite-artist-container article .album-content li {
    font-size: 10px;
    list-style-type: none;
    text-align: left;
}

.down {
    background: #003049ff;
    background-size: cover;
    width: 100%;
}

.down .favorite-albums {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}

.down .favorite-albums table {
    border-spacing: 10px 30px;
    border-collapse: separate;
}

.down .favorite-albums table td {
    width: 155px;
    height: 155px;
    border: 1px solid black;
    background: rgb(177, 177, 177, 0.3);
}

.down .favorite-albums table td p {
    font-size:12px;
    margin-bottom: 15px;
    color: white;
    font-weight:900;
}

.down .favorite-albums table img {
    max-width: 100px;
    max-height: auto;
    border-radius:5px;
    transition: 0.3s;
}

.down .favorite-albums table img:hover {
    transform: scale(1.05);
    cursor: pointer;
    filter: drop-shadow(0 0 8px rgba(150, 150, 150, 0.6))
}

.down .favorite-songs {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}

.down .favorite-songs .playlist-button a {
    vertical-align: middle;
    text-align: center;
    border: 1px solid white;
    padding: 10px 10px;
    color: white;
    font-weight: 900;
}

/*-- PLAYLIST List / index.html --*/

#selected {
    background: #003049ff;
}
#selected a {
    color: white;
}

/*--PLAYLIST List / 01, 02, 03, ...*/
.video-placer {
    height: 700px;
}

.spotify {
    width: 615px;
    height: 300px;
}

.tidal {
    margin-top: -70px;
    border: none;
}